# Node modules
node_modules
.pnpm-store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov

# Build outputs
dist
build
.next
out

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*

# IDE / Editor
.vscode
.idea
*.swp
